<h1>Login User</h1>

<%= form_for(:session, url: login_path ) do |form| %>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end %>
  <p>
    User ID: <%= form.text_field :id %>
  </p>
  <p>
    <%= form.submit "Log In"%>
  </p>
<% end %>