<h1>Upcoming Events:</h1>
<ul>
  <% @user.attended_events.each do |attendance| %>
    <li><%= attendance.title %></li>
  <% end %>
</ul>
<h1>Past Events:</h1>
<ul>
  <% @user.attended_events.each do |attendance| %>
    <li><%= attendance.title %></li>
  <% end %>
</ul>
