<h1>Events</h1>
<% @event.each do |event| %>
    <h4>Event description<h4>
    <%= event.description %>
    <%= link_to "Attend Event", event_attendee_show_path(event) %>
    <h4>Attendees</h4>
    <%= @list_of_attendees %>
    <hr>
<% end %>